<div class="admin-container">
  <nav class="navbar">
    <div class="navbar-left">
      <h2>BookLoca</h2>
    </div>
    <div class="navbar-right">
      <button class="add-book-btn" (click)="addBook()">Add Book</button
      >&nbsp;&nbsp;
      <button class="add-book-btn" (click)="logoutUser()">Logout</button>
    </div>
  </nav>

  <div class="main-content">
    <h1
      style="
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        color: darkblue;
      "
    >
      Admin Dashboard - Book List
    </h1>
    <table class="table">
      <thead class="">
        <tr>
          <th>Book ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Publish Date</th>
          <th>Edition</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.bookId }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.publisher }}</td>
          <td>{{ book.publishDate }}</td>
          <td>{{ book.edition }}</td>
          <td>
            <button class="delete-btn" (click)="deleteBook(book.bookId)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
